body {
    max-width: clamp(20rem, 100%, 30rem);
    margin-left: var(--margin-horizontal);
    margin-right: var(--margin-horizontal);
    margin-top: var(--margin-vertical);
    margin-bottom: var(--margin-vertical);
}

.logo {
    font-family: var(--primary-font);
    font-weight: var(--logo-weight);
    margin-bottom: var(--margin-vertical);
    text-transform: uppercase;
    line-height: 1;
}


